.App {
}

.app-head {
	background-color: #fff;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	color: #4f4f4f;
}

h1,
h2,
h3,
p {
	margin: 0;
}
h1 {
	font-family: "Roboto Slab", serif;
	color: #712b75;
}
h2 {
	font-weight: 300;
}
/* HEADER */
header {
	height: 190px;
	background: #dfdfde;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	gap: 15px;
}
.head-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.month {
	font-family: "Roboto Slab", serif;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
}
.border {
	border-bottom: 1px solid #353535;
}
sup {
	font-size: 28px;
	font-weight: 500;
}
/* NAV */
nav {
	height: 105px;
	background: #dfdfde;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
}
ul {
	display: flex;
	list-style: none;
	align-items: center;
	margin: 0;
	padding: 0;
	gap: 50px;
}
li {
	padding: 10px;
	cursor: pointer;
}
li:hover,
li:active {
	color: #712b75;
	font-weight: 400;
	border-bottom: 1px solid;
}
button {
	background: #712b75;
	font: inherit;
	margin: 0;
	padding: 15px 20px;
	height: min-content;
	border-radius: 5px;
	border: none;
	color: #fff;
	cursor: pointer;
}
button:hover,
button:active {
	background: #dfdfde;
	border: 1px solid #712b75;
	color: #712b75;
}
/* LIST */
article {
	height: 84px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	font-size: 22px;
}
.tick-box {
	display: flex;
}
.tick {
	color: #712b75;
	border-radius: 5px;
	font-size: 38px;
	cursor: pointer;
}
.tick:hover,
.tick:active {
	color: #712b75;
	font-size: 40px;
	cursor: pointer;
}
.dots {
	color: #4f4f4f;
	font-size: 26px;
	cursor: pointer;
}
.dots:hover,
.dots:active {
	color: #712b75;
	font-size: 30px;
}
section {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}
/* FOOTER */
footer {
	height: 145px;
	background: #dfdfde;
	display: flex;
	padding: 0 50px;
}
.info {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 30px;
}
input {
	height: 75px;
	background: #fff;
	border-radius: 40px;
	border: 1px solid #353535;
	font: inherit;
	font-size: 22px;
	padding-left: 30px;
	flex-basis: 90%;
}
.add-btn {
	font-size: 68px;
	color: #712b75;
	cursor: pointer;
	background: #fff;
	border-radius: 9px;
}
